header {
   padding: 40px 0 50px;
}

#topbar img {
   margin-bottom: 25px;
}

nav a {
   padding: 10px 18px;
}

#slogan {
   margin-top: 20px;
}

#einstein {
   margin-top: -20px;
}

main .wrapper {
   padding-top: 45px;
}

main section h2 {
   margin-bottom: 20px;
}

.recent .logo {
   margin-bottom: 30px;
}

.recent p {
   margin-bottom: 10px;
}

.button {
   padding: 6px 12px;
   margin-top: 10px;
}

aside {
   margin-top: 10px;
}

#bestelnu {
   margin-bottom: 20px;
}

#social li {
   margin-bottom: 10px;
   padding: 10px 0 0 75px;
}

footer {
   margin-top: 60px;
   padding: 40px 0;
   border-top:solid 3px;
   border-color: #EFEFEF;
}

footer section h3 {
   margin-bottom: 15px;
}

footer li {
   margin-bottom: 6px;
}

footer ul li {
   border-bottom: 1px solid #ccc;
   padding-bottom: 6px;
   margin-bottom: 6px;
}

footer ul li:last-child {
   border-bottom: none;
   margin-bottom: 0;
   padding-bottom: 0;
}
