/**
 *
 * Common styles
 *
 */

/* ===========================================
   General
   =========================================== */

/* html, body and general element styles here */

html, body {
   background: #dfdfdf;
   font-family: Roboto, sans-serif;
   font-size: 13px;
   line-height: 1.8;
}

body {
   background: white;
   border-radius: 9px 9px 0 0;
}

   

/* ... */


/* ===========================================
   Menu
   =========================================== */

/* menu styles here */

header nav ul {
   list-style: none;
   display: flex;
   gap: 10px;
}

header nav a {
   text-decoration: none;
   color: #000;
   font-weight: 500;
   padding: 8px 16px;
   transition: color 0.2s, background 0.4s;
}

header nav a.active,
header nav a:hover {
   background: #B52025;
   color: white;
}

/* ... */

/* ===========================================
   Banner
   =========================================== */

/* banner styles here */

#banner {
   background-image: url(../img/banner.jpg); 
   background-repeat: no-repeat;
   border: 4px solid #B52025;
   box-shadow: 7px 7px 7px 4px #00000060;
}

#banner p {
   background: #00000080;
   color:#fff; 
}

 /* ... */



/* ===========================================
   Main
   =========================================== */

/* main styles here */

main h3 {
   color: #B52025;
   font-size: 18px;
   text-transform: uppercase;
   margin-bottom: 15px;
   position: relative;
}

main h3::after {
   content: " →";
   color: #B52025;
}

#content .minibanner {
   border: 1px solid #CDCDCD;
}


.more{
   display: inline-block;
   padding: 6px 16px;
   border: 1px solid #B52025;
   color: #B52025;
   border-radius: 4px;
   transition: 0.3s;
}

.more a{
   color: #B33E4C;
   text-decoration: none;
}

.more:hover {
   background: #F6EAEC;
   text-decoration: underline;
}

aside h3 {
   color: #B52025;
   font-size: 18px;
}

aside h3::after {
   content: " →";
   color: #B52025;
}

.newsletter {
   background: white;
   padding: 10px;
}

.newsletter input {
   background: #FDEAEB;
}

.newsletter button {
   background: #B52025;
   color: white;
}

/* ... */


/* ===========================================
   Footer
   =========================================== */

/* footer styles here */ 

footer {
   text-align: center;
   border-top: 4px dotted #CFCFCF;
   background: linear-gradient(
      to bottom,
      #DFDFDF 10%,
      #ececec 30%,
      #fff 70%
      );
   padding: 25px;
   color: #555;
}

/* ... */
