/**
 * Oplossing voor Desert Tourism oefening
 */

/* A. Inhoud maximum breedte geven en centreren */


/* B.Horizontaal menu */


/* C.Header layout */


/* D. Main kolommen */


/* E. Tekst uitlijnen en afbeeldingen floaten */


/* F. Deurmat */


/* G. Footer */


