/**
 * Oplossing voor Desert Tourism oefening
 */

/* A. Inhoud maximum breedte geven en centreren */

.wrapper{
    max-width: 960px;
    margin: auto;
}

/* B.Horizontaal menu */
    
.wrapper nav ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-items:center;
}


/* C.Header layout */

header .wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
}

/* D. Main kolommen */

main{
    display: flex;
    gap: 5%;
}

main .left{
    flex: 2;
}

main .right{
    flex: 1;
}

/* E. Tekst uitlijnen en afbeeldingen floaten */

main .left .visual{
    float: left;
    margin-right:15px;
}

main .right .thumb{
    float: right;
    margin-left: 5px;
}

main .readmore a{
    display: flex;
    justify-content: end;
}

/* F. Deurmat */

#doormat .wrapper{
    display: flex;
    flex-direction: row;
}

#doormat .doormat_col #newsletter{
    flex: 2 2 auto;
}

#doormat .doormat_col{
    flex: 1 1 auto;
}

/* G. Footer */

footer .wrapper{
    display: flex;
    justify-content: space-between;
}
